:root {
    --font-notosans: 'Noto Sans KR';
	--font-pretendard: 'Pretendard-Regular';
	--font-gmarket: 'GmarketSansMedium';
	--font-lineseed: 'LINESeedKR-Bd';
}

body { 
    background-color: #fff;
}

@font-face {
	font-family: 'LINESeedKR-Bd';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 프리텐다드 폰트 */
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
